@use '../../scss/variables' as *;

.profile-header {
	height: calc(445px - 40px);
	background-color: $alabaster;
	margin-top: 48px;
	border: 1px solid $heather;
	border-top: 0;
	padding-bottom: 0;
	color: $charade;
	position: relative;
	.cover-image {
		width: 100%;
		height: 160px;
		background-image: linear-gradient(
			to right,
			rgb(20, 30, 48),
			rgb(36, 59, 85)
		);
	}
	.user-info {
		position: relative;
		bottom: 40px;
		.user {
			display: flex;
			gap: 7px;
			flex-direction: column;
			padding: 0 15px;
			img {
				width: 75px !important;
				height: 75px !important;
				border-radius: 4px;
				border: 2px solid $alabaster;
			}
			.display-name {
				display: flex;
				align-items: center;
				gap: 5px;
				strong {
					font-size: 20px;
				}
				span {
					color: $comet;
					font-size: 14px;
				}
			}
		}
		.location {
			display: flex;
			font-size: 12px;
			align-items: center;
			gap: 5px;
			img {
				max-width: 25px;
				max-height: 25px;
			}
		}
		.bio {
			padding: 0 15px;
			margin: 1rem 0;
			font-size: 14px;
		}
		.socials {
			padding: 0 15px;
			font-size: 12px;
		}
		.specialties {
			display: flex;
			flex-direction: column;
			height: fit-content;
			margin: 1rem 0;
			padding: 0 15px;
			width: 100%;
			.specialties-label {
				display: flex;
				align-items: center;
				gap: 5px;
				strong {
					font-weight: 600;
					font-size: 14px;
				}
				span {
					color: $chetwodeBlue;
					font-size: 13px;
					cursor: pointer;
				}
			}
			ul {
				list-style-type: none;
				display: flex;
				gap: 5px;
				li {
					padding: 2px 14px;
					border-radius: 4px;
					font-size: 13px;
					background: rgba(50, 115, 220, 0.1);
					border: 1px solid rgba(50, 115, 220, 0.5);
					color: #3273dc;
				}
			}
		}
		.user-stats {
			display: flex;
			width: 100%;
			margin: 1rem 0;
			align-items: center;
			padding: 0 15px;
			ul {
				list-style-type: none;
				display: flex;
				width: 100%;
				gap: 15px;
				li {
					font-size: 14px;
				}
			}
		}
		.action-buttons {
			position: absolute;
			right: 1rem;
			top: 50px;
			display: flex;
			gap: 10px;
			.btn {
				background: rgba(50, 115, 220, 0.1);
				border: 1px solid rgba(50, 115, 220, 0.5);
				color: #3273dc;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				padding: 4px 10px;
				border-radius: 4px;
				width: fit-content;
				font-size: 13px;
				cursor: pointer;
			}
		}
	}
}
