@use '../../../scss/variables' as *;

.post-feed {
	display: flex;
	flex-direction: column;
	width: 580px;
	margin: 0 auto;
	min-height: calc(100vh - 58px);
	background-color: $alabaster;
	border: 1px solid $heather;
	border-top: 0;
}
