@use '../../../scss/variables' as *;

.post-card,
.bordered-post-card {
	background-color: $alabaster;
	border-top: 0;
	color: $charade;
	position: relative;
	padding: 10px;

	.comment-line {
		width: 1px;
		background-color: $darkerMystic;
		height: 100%;
		position: absolute;
		left: 30px;
		top: 50px;
	}
	.post-card-header {
		display: flex;
		gap: 2px;
		align-items: center;
		margin-bottom: 5px;
		position: relative;
		img {
			width: 40px;
			height: 40px;
			border-radius: 4px;
			object-fit: cover;
		}
		.display-name {
			display: flex;
			height: 100%;
			gap: 5px;
			height: fit-content;
			margin-bottom: auto;
			align-items: center;
			padding: 0 10px;
			.username {
				font-size: 15px;
				font-weight: 600;
			}
			span {
				color: $comet;
				font-size: 13px;
			}
		}
		.post-info {
			position: absolute;
			right: 0px;
			top: 2px;
			display: flex;
			align-items: center;
			gap: 5px;
			span {
				font-size: 12px;
			}
			svg {
				cursor: pointer;
			}
		}
	}
	.body {
		font-size: 14px;
		margin-left: 52px;
		height: fit-content;
		position: relative;
		bottom: 20px;
		.tagged-username {
			color: $chetwodeBlue;
			text-decoration: none;
		}
	}
	.post-page-body {
		font-size: 14px;

		height: fit-content;
		padding: 10px 0;
		.tagged-username {
			color: $chetwodeBlue;
			text-decoration: none;
		}
	}
	.image {
		width: 100%;
		height: 300px;
		margin-left: 52px;
		padding-bottom: 10px;
		position: relative;
		bottom: 10px;
		img {
			width: calc(100% - 65px);
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}
	}
	.retweeted-post,
	.post-page-retweeted-post {
		width: calc(100% - 52px);
		height: fit-content;
		border: 1px solid $heather;
		margin-left: 52px;
		border-radius: 12px;
		padding: 10px;
		margin-bottom: 10px;
		position: relative;
		bottom: 5px;
		.retweeted-post-header {
			display: flex;
			gap: 2px;
			align-items: center;
			margin-bottom: 5px;
			position: relative;
			img {
				width: 20px;
				height: 20px;
				border-radius: 4px;
				object-fit: cover;
			}
			.display-name {
				display: flex;
				height: 100%;
				gap: 5px;
				height: fit-content;
				margin-bottom: auto;
				align-items: center;
				padding: 0 10px;
				.username {
					font-size: 13px;
					font-weight: 600;
				}
				span {
					color: $comet;
					font-size: 10px;
				}
			}
		}
		.retweeted-post-body {
			font-size: 13px;
			width: 100%;
			.retweeted-image {
				width: 100%;
				height: 300px;
				padding-bottom: 10px;
				position: relative;
				margin-left: 0;
				bottom: -10px;
				img {
					width: 100%;
					height: 100%;
					border-radius: 4px;
				}
			}
		}
	}
	.post-page-retweeted-post {
		margin-left: 0;
		width: 100%;
	}
	.timestamp {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.post-stats {
		font-size: 13px;
		border-top: 1px solid $heather;
		border-bottom: 1px solid $heather;
		display: flex;
		padding: 10px 0;
		gap: 1rem;
		margin-bottom: 10px;
	}
}

.bordered-post-card {
	border-bottom: 1px solid $heather;
}
