@use '../../../scss/variables' as *;

.post-card {
	min-height: 144.14px;
	background-color: $alabaster;
	border-bottom: 1px solid $heather;
	border-top: 0;
	padding: 10px;
	color: $charade;
	.post-card-header {
		display: flex;
		gap: 10px;
		align-items: center;
		margin-bottom: 10px;
		height: 56px;
		position: relative;
		img {
			width: 40px;
			height: 40px;
			border-radius: 4px;
			object-fit: cover;
		}
		.display-name {
			display: flex;
			height: 100%;
			gap: 5px;
			height: fit-content;
			margin-bottom: auto;
			align-items: center;
			padding-top: 5px;
			.username {
				font-size: 15px;
				font-weight: 600;
			}
			span {
				color: $comet;
				font-size: 11px;
			}
		}
		.post-info {
			position: absolute;
			right: 10px;
			top: 7px;
			display: flex;
			align-items: center;
			gap: 5px;
			span {
				font-size: 12px;
			}
		}
	}
	.body {
		font-size: 14px;
		margin-left: 49px;
		.tagged-username {
			color: $chetwodeBlue;
			text-decoration: none;
		}
	}
}
