.post-card-footer {
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 48px;
	margin-right: 48px;
	justify-content: space-between;
	padding: 0 10px;

	.control {
		display: flex;
		gap: 5px;
		font-size: 14px;
		align-items: center;
		position: relative;
		p {
			font-size: 12px;
		}
		svg {
			cursor: pointer;
		}
	}
}
