@use '../../../../scss/variables' as *;

.comment-card,
.bordered-comment-card {
	padding: 10px;
	position: relative;
	overflow-y: hidden;
	.comment-line {
		width: 1px;
		background-color: $darkerMystic;
		height: 100%;
		position: absolute;
		left: 30px;
		top: 50px;
	}
	.comment-header {
		display: flex;
		gap: 10px;
		align-items: center;
		margin-bottom: 5px;
		position: relative;
		img {
			width: 40px;
			height: 40px;
			border-radius: 4px;
			object-fit: cover;
		}
		.display-name {
			display: flex;
			height: 100%;
			gap: 5px;
			height: fit-content;
			margin-bottom: auto;
			align-items: center;

			.username {
				font-size: 15px;
				font-weight: 600;
			}
			span {
				color: $comet;
				font-size: 11px;
			}
		}
		.post-info {
			position: absolute;
			right: 10px;
			top: 2px;
			display: flex;
			align-items: center;
			gap: 5px;
			span {
				font-size: 12px;
			}
		}
	}
	.comment-body {
		font-size: 14px;
		margin-left: 49px;
		height: fit-content;
		margin-bottom: 13px;
		padding: 0 10px;
	}
	.view-all-comments {
		margin-left: 8px;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 9999;
		font-size: 12px;
		top: 10px;
		padding-bottom: 10px;
		background-color: $alabaster;
		gap: 25px;
		color: #4a4de7;
		font-weight: 500;
		.icon {
			background: rgba(74, 77, 231, 0.1);
			border: 1px solid rgba(74, 77, 231, 0.5);
			padding: 2px;
			border-radius: 50%;
			height: 25px;
			width: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		p {
			cursor: pointer;
		}
	}
}

.bordered-comment-card {
	border-bottom: 1px solid $heather;
}
