@use '../../scss/variables' as *;

.match-page {
	min-height: 100vh;
	background-color: white;
	border: 1px solid $heather;
	border-top: 0;
	padding-top: 48px;
	.content {
		.match-header {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem 0;
			h1 {
				font-size: 20px;
			}
		}
	}
}
