@use '../../scss/variables' as *;

.feed-header-container {
	position: sticky;
	top: 10px;
	background-color: $mystic;
	height: 58px;
	position: fixed;
	top: 0;
	width: 580px;
	z-index: 9998;

	.feed-header {
		background-color: $alabaster;
		height: 48px;
		border: 1px solid $heather;
		display: flex;
		align-items: center;
		padding: 15px;
		font-weight: 500;
		gap: 5px;
		position: relative;
		top: 10px;
	}
}
