@use '../../scss/variables' as *;

.navbar {
	width: 1170px;
	margin: 0 auto;
	background-color: $mystic;
	height: 65px;
	.navbar-content {
		display: flex;
		align-items: center;
		height: 100%;
		color: $charade;
		.logo {
			a {
				text-decoration: none;
				color: $charade;
				font-size: 20px;
				font-weight: 800;
			}
		}
		.nav-links {
			list-style-type: none;
			margin-left: auto;
			display: flex;
			gap: 10px;
			align-items: center;
			height: 100%;
			li {
				a {
					color: $charade;
					text-decoration: none;
					font-size: 16px;
				}
			}
		}
		.user-settings {
			margin-left: auto;
			display: flex;
			gap: 1rem;
		}
	}
}
