@use '../../scss/variables' as *;

.login-page {
	height: 100vh;
	width: 1170px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	.content {
		background-color: $mystic;
		width: 600px;
		height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #000;
		gap: 1rem;
		.site-name {
			font-size: 32px;
		}
		.body-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 420px;
			h2 {
				margin-bottom: 2rem;
			}
			.redirect-link {
				margin: 20px 0;
				font-size: 14px;
				.backTo {
					cursor: pointer;
					background-color: $mystic;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.check-mark {
				width: 50px;
				height: 50px;
				background-color: $chetwodeBlue;
				border-radius: 50%;
				margin: 1rem 0;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}
