@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,600;9..40,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

html {
	background-color: $mystic;
}

body::-webkit-scrollbar {
	width: 0.7em;
}

body::-webkit-scrollbar-thumb {
	background-color: darken($darkerMystic, 15%);
	outline: 1px solid $heather;
}

.textarea__suggestions {
	background-color: transparent !important;
}

.textarea__suggestions__list {
	max-width: 200px;
	position: relative;
}

.suggestion-box {
	width: calc(100% - 10px);
	display: flex;
	align-items: center;
	gap: 10px;

	img {
		border-radius: 4px;
	}
}

.App {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	gap: 10px;
	.main-content {
		width: 580px;
		margin-top: 10px;
	}
	.left-sidebar,
	.right-sidebar {
		width: 285px;
		position: sticky;
		top: 10px;
		max-height: calc(100vh - 10px);
		min-height: calc(100vh - 10px);

		margin-top: 10px;
		padding: 0 10px;
		.link-footer-container {
			position: absolute;
			bottom: 2rem;
		}
	}
}
