@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	background-color: $mystic;
}

.App {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	// border: 1px solid $heather;
	gap: 10px;
	.main-content {
		width: 580px;
		// background-color: rebeccapurple;
		height: 100vh;
	}
	.left-sidebar,
	.right-sidebar {
		width: 285px;
		background-color: royalblue;
	}
}
